<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>create</title>
  </head>
  <body>
    <p>Create new code snippet:</p>
    <form class="" action="/create" method="post">
      Title: <input type="text" name="title" value=""><br>
      Code: <textarea name="code" rows="10" cols="75"></textarea><br>
      Notes: <input type="text" name="notes" value=""><br>
   <select id="languages" class="drop_down" name="language">
          <option value="javascipt" selected>Javascript</option>
          <option value="java">Java</option>
          <option value="python">Python</option>
          <option value="react">React</option>
          <option value="ruby">Ruby</option>
    </select>
    <select id="tags" class="list" name="tags">
           <option value="authentication" selected>authentiation</option>
           <option value="database">databas</option>
           <option value="front-end">front-end</option>
           <option value="middleware">middleware</option>
           <option value="security">security</option>
     </select>
    <button type="submit" name="button">Create</button>
      </form>
  </body>
</html>
