<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit</title>
  </head>
  <body>
    <p>Edit:</p>
    <form class="" action="/create" method="post">
      Title: <input type="text" name="title" value=""><br>
      Code: <textarea name="code" rows="10" cols="75"></textarea>
      Notes: <input type="text" name="notes" value=""><br>
      Tags: <input type="text" name="tags" value="">
   <button type="submit" name="button">Edit</button>
  </body>
</html>
