<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Snippy</h1>
    <p>For all of your code snippet storing and organizing needs.</p>

    <p>Login to access your account. If you do not have one, please <a href="/register">Register</a>.</p>
    <form class="" action="/mysnippets" method="post">
   Username: <input type="text" name="username"><br>
   Password <input type="password" name="password"><br>
   <button type="submit" name="button">Login</button>

   <a href="/create">Create</a><br>
   <a href="/search">Search</a>

 </form>

  </body>
</html>
